
.button {
    display: flex;
    justify-content: flex-end;
}

.btnP {
    background-color: #0085a1;
    color: white;
}

.headerImg {
    background-image: url(home.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 300px;
    color: white;
    background-color: grey;
    background-blend-mode: multiply;
}

.footer {
    font-size: xx-small;
}

a:link {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

.purple {
    color: #0085a1
}

